.header {
  display: flex;
  text-align: center;
  margin-top: 1.5%;
  justify-content: space-between;
  height: 4%;
  align-items: center;
}

.header-logo {
  margin-left: 1%;
  font-size: 1.5rem;
}

.header-menu {
  margin-right: 1%;
  font-size: 1.2rem;
  cursor: pointer;
}

.fa-bars {
  margin: 0 0.5em 0 0;
}

.header-nav {
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 88.1%;
  top: 0;
  right: 0;
  padding: 3% 2%;
  width: 15%;
}

.header-close {
  cursor: pointer;
}

.header-links {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-category {
  display: flex;
  height: 100%;
  flex-direction: column;
  a {
    color: #fff;
    // font-size: 1.4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    border-top: solid 1px rgba(255, 255, 255, 0.125);
  }
}

.header-times {
  color: white;
}
